/* Global */
* {
    font-size: 20px;
    font-family: Quicksand;
}

body {
    background-color: #fffaf3;
}


/* Sidebar menu */
.sidenav {
    height: 100%;
    width: 13rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #9ccfd8;
    overflow: hidden;
}

.sidenav a {
    padding: 1rem;
    text-decoration: none;
    color: #575279;
    display: block;
}

.sidenav a:hover {
    color: #eee9e6;
}

.sidenav a:first-of-type {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.sidenav a:not(:first-child) {
    font-size: .8rem;
    text-align: center;
}


/* Main Content */
main {
    background-color: faf4ed;
    margin-left: 16rem;
    margin-top: 5rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 2rem;
}


/* Contacts */
.contact {
    flex-basis: 7rem;
    flex-grow: 1;
    background-color: #9893a5;
    max-width: 7rem;
    min-height: 3rem;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    color: #e0def4;
    display: block;
}

.contact:hover {
    background-color: #907aa9;
}


/* New Contact Form */

.form {
    justify-content: center;
}

form ul {
    list-style-type: none;
}

form ul li {
    margin-top: 1rem;
}

button {
    border-radius: .2rem;
    border-width: 0rem;
    padding: .5rem;
    color: #e0def4;
}

button:hover {
    background-color: #eee9e6;
}

.add {
    background-color: none;
    font-weight: bold;
    color: #575279;
}

.submittion {
    margin-top: 1rem;
}

.submit {
    background-color: #3e8fb0;
}

.cancel {
    background-color: #b4637a;
}

.contact_icon {
    border-radius: 50%;
    max-height: 6rem;
    margin-left: 4rem;
}


/* Contact Profile Page */

.edit {
    background-color: #286983;
}

.close {
    background-color: #907aa9;
}

@media (max-width: 800px) {

    .sidenav {
        width: 7rem;
    }
    
    .sidenav a:first-of-type {
        margin-left: .5rem;
        margin-top: .5rem;
        font-size: .9rem;
    }
    
    .sidenav a:not(:first-child) {
        font-size: .6rem;
    }

    main {
        margin-left: 8rem;
        margin-top: 3rem;
    }

    .container {
        gap: 1rem;
    }

    .contact {
        max-width: 2.5rem;
        min-height: 1rem;
        font-size: .5rem;
        padding: 1rem;
        margin: 1vw
    }

}

@media (max-width: 500px) {
    .sidenav {
        height: 4rem;
        width: 100%;
        top: 0;
        text-align: center;
    }

    .sidenav a {
        padding: .2rem;
        text-decoration: none;
        color: #575279;
    }

    .sidenav a:not(:first-child) {
        display: inline-flex;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .container {
        gap: .3rem;
        align-content: center;
        justify-content: center;
        margin: auto;
    }

    .contact {
        margin: 2vw;
    }
    
    main {
        margin: auto;
        margin-top: 5rem;
    }
}